<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Virtual Journal</title>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+CO:wght@100..400&display=swap" rel="stylesheet">
</head>
<style>
    h1 {
        text-align: center;
        font-family: 'Playwrite CO', sans-serif;
        color: #ca7ad3;
    }

    h3 {
        text-align: center;
        font-family: 'Playwrite CO', sans-serif;
        color: #ca7ad3;
    }

    body {
        background-color: #42dbbf;
    }
    
    .navbar {
        background-color: #e3f2fd;
    }

    #delete-edit {
        background-color: #f4eb82;
        color: #ca7ad3;
        font-family: 'Playwrite CO', sans-serif;
        border-radius: 25px;
        padding: 10px;
        margin: 10px;
        align-self: center;
    
    }

    .buttons {
        display: flex;
        justify-content: center;
    }
</style>
<body>
    <% if (user) { %>
        <nav class="navbar navbar-light" style="background-color: #e2e076; font-family: 'Playwrite CO', sans-serif; display: grid; grid-template-columns: 1fr 1fr 1fr; border-radius: 12px; text-align: center;">
            <a href="/logs/">View All Entries</a>
            <a href="/logs/new">New Entry</a>
                <a href="/auth/sign-out">Sign Out</a>
                <a href="/logs/resources">External Resources</a>
          </nav>
          <h1>Your Virtual Journal</h1>
    <h3>Welcome to your virtual journal, <%= user.username %>!</h3>

    <% } else { %>
        <nav class="navbar navbar-light" style="background-color: #e2e076; font-family: 'Playwrite CO', sans-serif; display: grid; grid-template-columns: 1fr 1fr 1fr; border-radius: 12px; text-align: center;">
            <a href="/auth/sign-in">Login</a>
                <a href="/auth/sign-up">Register</a>
                <a href="/logs/resources">External Resources</a>
          </nav>
          <h1>Your Virtual Journal</h1>
    <h3>Welcome to the start of a better you. <br />Please sign in, or sign up to start your path.</h3>

</p>
<% } %>
</body>
</html>