<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+CO:wght@100..400&display=swap" rel="stylesheet">
</head>
<style>
    h1 {
        text-align: center;
        font-family: 'Playwrite CO', sans-serif;
        color: #ca7ad3;
    }

    h2 {
        font-family: 'Playwrite CO', sans-serif;
        color: #f4eb82;
    }

    body {
        background-color: #f4eb82;
        }

    h3 {
        text-align: center;
        font-family: 'Playwrite CO', sans-serif;
        color: #ca7ad3;
    }


    .card-template {
        display: grid;
        grid-template-columns:auto auto auto;
        justify-content: center;
    }
    .card {
        margin: 20px;
        background-color: #ca7ad3;
        color: #f4eb82;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
    
    }

    .link {
        font-family: 'Playwrite CO', sans-serif;
        color: #f4eb82;
    }
</style>
<body>
    <h1>External Resources</h1>
    <div class="card-template">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-title">Ways to Journal</h2>
          <h4 class="card-subtitle mb-2 text-muted">blog</h4>
          <p class="card-text">Ways to think about journaling and what style might be right for you.</p>
          <a href="https://www.mindbodygreen.com/articles/how-to-journal" class="link">Check it out</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-title">Meditation for Beginners</h2>
          <h4 class="card-subtitle mb-2 text-muted">blog</h4>
          <p class="card-text">Not sure how to go about meditating? This reasource will help understand the basics of mastering a peace of mind.</p>
          <a href="https://positivepsychology.com/meditation-techniques-beginners/" class="link">Check it out</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-title">25 Ways to Better Yourself</h2>
          <h4 class="card-subtitle mb-2 text-muted">blog</h4>
          <p class="card-text">A good brainstorm to implement change in your day to day life.</p>
          <a href="https://liveboldandbloom.com/05/self-improvement/how-to-better-yourself" class="link">Check it out</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-title">Find a Therapist in Your Area</h2>
          <h4 class="card-subtitle mb-2 text-muted">service</h4>
          <p class="card-text">A place to find a therapist right for you.</p>
          <a href="https://www.betterhelp.com/" class="link">Check it out</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-title">Crisis Hotline</h2>
          <h4 class="card-subtitle mb-2 text-muted">service</h4>
          <p class="card-text">A place to call or text if you need help.</p>
          <a href="https://988lifeline.org/" class="link">Check it out</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-title">Happier Human: Self Reflection Affirmations</h2>
          <h4 class="card-subtitle mb-2 text-muted">blog</h4>
          <p class="card-text">A compilation of quotes to self reflect on.</p>
          <a href="https://www.happierhuman.com/reflection-quotes/" class="link">Check it out</a>
        </div>
      </div>

    </div>
</body>
</html>