<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+CO:wght@100..400&display=swap" rel="stylesheet">

</head>
<style>
    h1 {
        text-align: center;
        font-family: 'Playwrite CO', sans-serif;
        color: #ca7ad3;
    }

    body {
        background-color: #f4eb82;
    }

    h3 {
        text-align: center;
        font-family: 'Playwrite CO', sans-serif;
        color: #ca7ad3;
    }
</style>
<body>
    <nav class="navbar navbar-light" style="background-color: #e2e076; font-family: 'Playwrite CO', sans-serif; display: grid; grid-template-columns: 1fr; border-radius: 12px; text-align: center;">
        <a href="/auth/sign-in">Sign In</a>
    </nav>
    <h1>Thank you for starting your path to wellness.</h1>
    <h3>Please sign in to start journaling.</h3>

</body>
</html>